@import "player.scss";
@import "player-details.scss";
@import "player-controls.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}