.player-details {
  .details-image {
    position: relative;
    width: fit-content;
    margin: 50px auto;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
      border-radius: 50%;
      box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.8), inset -6px -6px 12px rgba(255, 255, 255, 0.4);
    }
  }
  .details-title {
    color: #eee;
    font-size: 28px;
    text-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.8), inset -2px -2px 4px rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-bottom: 10px;
  }
  .details-artist {
    color: #aaa;
    font-size: 20px;
    text-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.8), inset -2px -2px 4px rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-bottom: 20px;
  }
}
