.player-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  .play-btn {
    display: flex;
    background-color: #ffce00;
    color: #fff;
    font-size: 1.3rem;
    margin: 0 15px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px -10px rgba(255, 255, 255, 0.4), inset -4px -4px -10px rgba(0, 0, 0, 0.4),
      inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    cursor: pointer;
  }
  .stop-btn {
    display: flex;
    background-color: #ffce00;
    color: #fff;
    font-size: 1.3rem;
    margin: 0 15px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), -4px -4px -10px rgba(255, 255, 255, 0.4), inset -4px -4px -10px rgba(0, 0, 0, 0.4),
      inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none;
    cursor: pointer;
  }
  .skip-btn {
    background: none;
    color: #d1c8c8;
    font-size: 1.5rem;
    margin: 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}